<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat APP</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }
    h1 {
      color: #333;
    }
    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
    }
    button:hover {
      background-color: #0056b3;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    p {
      margin-top: 10px;
      color: #555;
    }
    a:hover p {
      color: #007bff;
    }
    a:hover button {
      background-color: #0056b3;
    }
    a:visited {
      color: #007bff;
    }
    a:visited button {
      background-color: #0056b3;
    }
    a:active {
      color: #0056b3;
    }
    

  </style>
</head>
<body>
  <h1>Welcome to my Chat app</h1>
  <a href="http://localhost:5500/chats"><button>Click here</button></a><p>to get full chats</p>
</body>
</html>